dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.hie/
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
*.g
slicer
# emacs
*~
# build results.
.ghc.environment.*
Setup
stack.yaml.lock
cabal.project.local
dist-newstyle/
